.profile-icon {
    display: block;
    width: 5%;
    height: auto;
    margin: 0;
    padding: 0;
  }

.profile-icon:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
