.results-container {
    margin-top: 2vh;
    width: 80%;

    padding: 5vh 3vw;
    font-family: 'Inter', sans-serif;
}

.result-item {
    margin-bottom: 5vh;
    padding: 2vh;
    border: 1px solid #5a5f69;
    border-radius: 1vh;
    background-color: #2a2f38;
}

.result-header {
    font-size: 3.5vh;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 1vh;
    color: #15cd2e;
}

.result-code {
    background-color: #1c1f26;
    color: #ffffff;
    padding: 1.5vh;
    border-radius: 1vh;
    font-family: 'Courier New', monospace;
    font-size: 2vh;
    overflow-x: auto;
    margin-bottom: 1.5vh;
    white-space: pre-wrap;
}

.result-tags {
    margin-top: 3vh;
    display: flex;
    gap: 1vh;
    flex-wrap: wrap;
    align-items: center;
}

.results-label {
    font-size: 1.8vh;
    font-weight: bold;
    color: #ffffff;
    margin-right: 1vh;
}

.tag {
    background-color: #39cf39;
    color: #020d1f;
    padding: 0.5vh 1vh;
    border-radius: 0.5vh;
    font-size: 1.8vh;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    cursor: default;
    user-select: none;
}

.result-reviews {
    font-size: 2vh;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-reviews p {
    margin: 0;
}

.result-reviews p span {
    font-weight: bold;
    color: #15cd2e;
}

.result-reviews p span.negative {
    color: #ff4d4d;
}

.result-comments {
    margin-top: 2vh;
    padding-top: 1vh;
    border-top: 1px solid #5a5f69;
}

.comments-label {
    font-size: 1.8vh;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1vh;
}

.comment {
    margin-top: 1vh;
    padding: 0.5vh;
    background-color: #1c1f26;
    border-radius: 0.5vh;
}

.comment-author {
    margin-top: 0.5vh;
    font-size: 1.8vh;
    font-weight: bold;
    color: #39cf39;
    margin-bottom: 0.5vh;
}

.comment-text {
    font-size: 1.6vh;
    color: #ffffff;
    margin: 0;
}

.result-author {
    font-size: 1.8vh;
    font-weight: bold;
    color: #A500FF;
    margin-bottom: 1vh;
}

.not-found-text {
    font-size: 4vh;
    color: #15cd2e;
    text-align: center;
    padding: 2vh 4vw;
    border: 2px solid #5a5f69;
    border-radius: 1.5vh;
    background-color: #1c1f26;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.2);
    margin: 2vh auto;
    width: fit-content;
  }